@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Wulkan Display';
  src: url('/fonts/WulkanDisplayMedium.woff2') format('woff2'),
       url('/fonts/WulkanDisplayMedium.woff') format('woff'),
       url('/fonts/WulkanDisplayMedium.ttf') format('truetype');
}


.hero-p-font{

    -webkit-text-stroke: 1px black; /* Agrega un borde de 1px de grosor de color negro */

  
}


.bellota-regular {
    font-family: "Bellota", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  